.middle-bar-main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    /* outline: 1px solid pink; */
}

.middle-bar-left-container {
    display: flex;
    
    flex-grow: 1;
    max-width: 30%;
    /* max-height: 90%;*/
    min-height: 98%;  
    /* outline: 1px solid white; */
}

.middle-bar-middle-container {
    display: flex;
    
    flex-grow: 1;
    max-width: 30%;
    /* max-height: 90%;
    min-height: 90%;  */
    
    /* outline: 1px solid white; */
}

.middle-bar-right-container {
    display: flex;
   
    flex-grow: 1;
    max-width: 30%;
    /* max-height: 90%;
    min-height: 90%;  */
    
    /* outline: 1px solid white; */
}

.chat-box {
    display: flex;
    flex-direction: column;
    
    flex-grow: 1;
    max-width: 100%;

    padding: 10px;
    border-radius: 10px;
    
    outline: solid 1px lightgray;
    background-color: #1f1f1f;
}

.chat-box-block {
    display: flex;
    flex-direction: column;

    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

    margin: 0;
    padding: 0;

    margin-bottom: 10px;
    /* outline: solid 1px black; */
}

.chat-paragraph {
    width: 100%;
    
    margin: 0;
    padding: 0;

    word-break: break-word;
    white-space: normal;
    line-height: 1.2;
}

.chat-paragraph-header-requested {
    font-weight: normal;
    font-size: 15px;

    color: whitesmoke;
    text-shadow: 0.1px 0.1px 0.1px red;
}

.chat-paragraph-header-added {
    font-weight: normal;
    font-size: 15px;

    color: whitesmoke;
    text-shadow: 0.1px 0.1px 0.1px chartreuse;
}

.chat-paragraph-body {
    font-weight: normal;
    font-size: 15px;
    font-style: normal;
    
    color: #ffffff;
    text-shadow: 0.1px 0.1px 0.1px cornsilk;
}

/**
    POSSIBLE COLOR COMBINATIONS: 
    color: snow;
    text-shadow: 0.1px 0.1px 0.1px red;

    color: whitesmoke;
    text-shadow: 0.1px 0.1px 0.1px magenta;

**/