.middle-bar-main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    /* outline: 1px solid pink; */
}

.middle-bar-left-container {
    display: flex;
    
    flex-grow: 1;
    max-width: 30%;
    max-height: 90%;
    min-height: 90%; 
    /* outline: 1px solid white; */
}

.middle-bar-middle-container {
    display: flex;
    
    flex-grow: 1;
    max-width: 30%;
    max-height: 90%;
    min-height: 90%; 
    
    /* outline: 1px solid white; */
}

.middle-bar-right-container {
    display: flex;
   
    flex-grow: 1;
    max-width: 30%;
    max-height: 90%;
    min-height: 90%; 
    
    /* outline: 1px solid white; */
}

.chat-box {
    display: flex;
    flex-direction: column;
    
    flex-grow: 1;
    max-width: 100%;

    padding: 10px;
    border-radius: 10px;
    
    outline: solid 2px whitesmoke;
}

.chat-box-block {
    display: flex;
    flex-direction: column;

    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

    margin: 0;
    padding: 0;

    margin-bottom: 10px;
    /* outline: solid 1px black; */
}

.chat-paragraph {
    width: 100%;
    
    margin: 0;
    padding: 0;

    word-break: break-word;
    white-space: normal;
    line-height: 1.2;
}

.chat-paragraph-header {
    font-weight: bold;
    font-size: 16px;

    color: mintcream;
    /* color: mistyrose; */
    /* color: lightsalmon */
    /* color: blanchedalmond */
    /* color: lightcoral; */
    /* text-shadow: 0.5px 0.5px 0.5px lightcoral;  */
}

.chat-paragraph-body {
    font-weight: normal;
    font-style: italic;
    
    color: mintcream;
    /* color: snow */
    /* color: floralwhite; */
    /* color: ghostwhite; */
    /* color: bisque; */
    /* text-shadow: 0.5px 0.5px 0.5px lightcoral;  */
}