.top-bar-main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    flex-grow: 1;
    outline: 1px solid white;
}

.top-bar-left-container {
    display: flex;
    flex-grow: 0.2;
    outline: 1px solid white;
}

.top-bar-middle-container {
    display: flex;
   
    flex-grow: 1;

    outline: 1px solid white;
}

.top-bar-right-container {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;

    outline: 1px solid white;
}