#text-input {
    /* Positioning */
    position: fixed;
    bottom: 1%;
    left: 1%;
    
    /* Sizing */
    width: 100%;
    max-width: 30vw;
    height: 100%;
    max-height: calc(5vh + 20px);
    box-sizing: border-box;

    /* Spacing */
    border-radius: 20px;

    /* Apperance */
    background-color: #2121211e;
    color: #ffffffb6;
    outline: 1px solid #706969;

    /* Text and Font */
    font-family: 'Fira Code', monospace;

    /* Functionality */
    resize: none;
    overflow-y: hidden;
    outline: none;
}

@media (max-width: 2560px) {
    #text-input {
        font-size: 14px;
        padding: 12px;
    }
}

@media (max-width: 1920px) {
    #text-input {
        font-size: 13px;
        padding: 10px;
    }
}

@media (max-width: 1200px) {
    #text-input {
        font-size: 13px;
        padding: 8px;
    }
}

@media (max-width: 900px) {
    #text-input {
        font-size: 12px;
        padding: 8px;
    }
}

@media (max-width: 800px) {
    #text-input {
        font-size: 11px;
        padding: 8px;
    }
}

@media (max-width: 700px) {
    #text-input {
        font-size: 10px;
        padding: 6px;
    }
}

@media (max-width: 400px) {
    #text-input {
        font-size: 9px;
        padding: 2px;
    }
}
