#player-outter-upper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 30%;
    top: 9%;
    right: 1%;
    position: fixed;
}

#player-outter-lower {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 30%;
    top: calc(9% + 10vh + 2%); /* Adjust top to create space between elements */
    right: 1%;
    position: fixed;
}

#player-inner-upper,
#player-inner-lower {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    position: relative; /* Change to relative unless absolute is needed */
    /* background: #943302; */
    background: #211d1b;
    color: #d3c7c7e0;
    padding: 40px;
}
