/* #current-audio-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 12vh;
    width: 30%;
    top: 15%;
    right: 1%;
    position: fixed;
}

#playlist-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 64vh;
    width: 30%;
    top: calc(15% + 9.5vh + 2%); 
    right: 1%;
    position: fixed;
    background: #b9450b;
}

#current-audio-title {
    width: 100%;
    flex: 0 0 20%;
    border-radius: 0px;
    background: #211d1b;
    color: #519975;
}

#current-audio {
    width: 100%;
    flex: 0 0 80%;
    border-radius: 0px;
    position: relative;
    background: #211d1b;
    color: #d3c7c7e0;
}

#playlist-title{
    width: 100%;
    flex: 0 0 4%;
    border-radius: 0px;
    position: relative;
    background: #211d1b;
    color: #519975;
}
#playlist-content{
    width: 100%;
    flex: 0 0 96%;
    border-radius: 0px;
    position: relative; 
    background: #211d1b;
    color: #d3c7c7e0;
    padding: 0px;
} */
