/* #chat-box-outter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 55%;
    position: relative;
    margin-top: 100px;
    left: 40%;
    transform: translate(-50%, 0); 
    bottom: 0;
}

#chat-box-inner {
    width: 100%;
    height: 100%;
    position: relative; 
    background: #211d1b;
    color: #d3c7c7e0; 
    padding: 40px;
} */
