#text-input {
    position: fixed;
    bottom: 1%;
    left: 1%;
    width: 100%;
    max-width: 30vw;
    height: 50px;
    max-height: 5%;
    box-sizing: 10px;
    padding: 10px;
    border-radius: 20px;
    resize: none;
    overflow-y: hidden;
    outline: none;
    font-family: 'Fira Code', monospace;
    background-color: #2121211e;
    color: #ffffffb6;
    outline: 1px solid #706969;
}
