#input-container-outter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(135deg, #29323c, #485563);
    border-radius: 0px; 
    height: 3vh;
    width: 55%;
    margin-top: 10px;
    left: 0.5%;
    position: relative;
}

#input-container-inner {
    width: 100%;
    height: 100%;
    border-radius: 10px; 
    position: absolute;
    bottom: 0;
    background: #d6d3d3; 
    color: #080303;
    font-family: 'Fira Code', monospace;
    overflow: auto; 
    box-sizing: border-box;
}